body {
    width: auto;
    height: 850px;

    display: grid;
    grid: 100% / 100%;
}

.active-space {
    justify-self: center;
    align-self: center;
}

.etch-screen {
    height: 760px;
    width: 760px;
    background-color: beige;
    overflow: hidden;
}

.etch-box {
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
}